@media only screen and (min-width: map_get($breakpoints, 'tablet') + 1px) {
  body.blog,
  body.education,
  body.single-post,
  body.search,
  body.archive,
  body.error404 {
    main {
      // layout concerns
      display: grid;
      grid-template-areas:
        'hero hero'
        'content sidebar';
      grid-template-columns: calc( 1240 * var(--screen-w)) 1fr;
      section.content {
        grid-area: content;
      }
      section.blog-sidebar {
        grid-area: sidebar;
      }
      section.hero {
        grid-area: hero;
      }
      $from-left: calc( 190 * var(--screen-w));
      // section concerns
      section.hero {
        .background {
          background-color: $mid-grey;
        }
        height: calc( 470 * var(--screen-w));
        display: grid;
        align-items: end;
        justify-content: start;
        background-color: $black;
        padding-left: $from-left;
        h1 {
          &::first-letter {
            color: $red;
          }
        }
      }
      section.content {
        & > h2.section-heading {
          margin-top: calc( 50 * var(--screen-w));
        }
        h2.section-heading {
          @include likeh4dark();
        }
        .underline {
          border-bottom: 1px solid $almost-black;
        }
        h2, h3, h4{
          @include bodycopy(26, $mid-grey, 50);
          text-transform: none;
          font-weight: 700;
        }
        padding: calc( 30 * var(--screen-w)) calc( 40 * var(--screen-w)) calc( 70 * var(--screen-w)) $from-left;
        margin-bottom: calc( 100 * var(--screen-w));
        article {
          margin-top: calc( 50 * var(--screen-w));
          a{
            color: $blue;
            &.read-more{
              @include cta();
              @include buttoncopy();
              width: calc( 207 * var(--screen-w));
              margin-top: calc( 35 * var(--screen-w));
              display: block;
            }
          }
        }
        &.single-post {
          article {
            margin-top: 0;
          }
        }
        p {
          @include bodycopy1dark();
        }
        .more-link {
          margin-top: calc( 35 * var(--screen-w));
          @include cta();
          display: block;
          width: calc( 230 * var(--screen-w));
          font-weight: 700;
          font-family: ff-enzo-web;
        }
        .entry-header {
          h1,
          h2,
          h2 a {
            @include subheader2();
            &.section-heading {
              margin-top: calc( 25 * var(--screen-w));
              @include headings($h4size, $almost-black);
            }
          }
          h3.author {
            display: none;
          }
          h4 {
            @include bodycopy2();
            text-transform: capitalize;
          }
          margin-bottom: calc( 30 * var(--screen-w));
        }
        .entry-footer {
          .post-navigation {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }
        }
      }
      .search {
        input[type='search'] {
          border: 1px solid $grey400;
          height: calc( 56 * var(--screen-w));
          color: $grey250;
          padding-left: calc( 20 * var(--screen-w));
          border-radius: 0;
          background-color: $almost-white;
          width: 100%;
        }
        input[type='submit'] {
          display: none;
        }
        i {
          position: absolute;
          right: calc( 20 * var(--screen-w));
          z-index: 1;
          line-height: calc( 56 * var(--screen-w));
          color: $mid-grey;
        }
      }
      section.blog-sidebar {
        display: flex;
        flex-direction: column;
        margin-top: calc( 135 * var(--screen-w));
        padding-bottom: calc( 60 * var(--screen-w));
        margin-bottom: calc( 100 * var(--screen-w));
        .title,
        .tags,
        .search,
        .articles {
          width: calc( 365 * var(--screen-w));
          margin-left: calc( 56 * var(--screen-w));
        }
        background-color: $almost-white;
        padding: calc( 50 * var(--screen-w)) 0 calc( 75 * var(--screen-w));
        h2.title,
        h3 {
          color: $almost-black;
          font-size: calc( 28 * var(--screen-w));
        }
        h2.title {
          border-bottom: 1px solid $mid-grey;
          line-height: 1;
          padding-bottom: calc( 15 * var(--screen-w));
        }
        h3 {
          margin-top: calc( 40 * var(--screen-w));
          font-size: calc( 30 * var(--screen-w));
          margin-bottom: calc( 15 * var(--screen-w));
          line-height: 0.73;
          padding-left: calc( 10 * var(--screen-w));
          border-left: $almost-black solid calc( 44 * var(--screen-w));
        }
        .articles {
          padding-top: calc( 15 * var(--screen-w));
          .posts {
            a.archive-link {
              display: block;
              @include bodycopy($h8size, $mid-grey, $h8size * 2);
              font-weight: 700;
            }
          }
          .post {
            margin-bottom: calc( 40 * var(--screen-w));
            h4 {
              margin-top: calc( 17 * var(--screen-w));
            }
            .post-img {
              width: calc( 360 * var(--screen-w));
              height: calc( 360 * var(--screen-w));
              background-size: cover;
              background-position: center;
            }
          }
        }
      }
      .results {
        article {
          margin-bottom: calc( 50 * var(--screen-w));
          .content-container {
            display: flex;
            flex-direction: row;
            .image {
              flex: 2;
              width: 20vw;
              height: auto;
              margin-right: calc( 50 * var(--screen-w));
              background-size: cover;
              background-position: center;
            }
            .content {
              flex: 3;
            }
          }
          .entry-footer {
            padding-top: calc( 30 * var(--screen-w));
            grid-area: footer;
          }
        }
      }
    }
  } // end body.blog, body.single-post, body.archive
}
