// Calendar Archive Page and Event Category Archive Page Mobile Styling
@media only screen and (max-width: $mobile-end) {
  body.post-type-archive-mec-events,
  body.tax-mec_category.archive {
    section#main-content.container {
      padding-top: calc(40 * var(--screen-w));
      padding-bottom: calc(60 * var(--screen-w));
      h1 {
        display: none;
      }
      .mec-calendar {
        border: none;
        .mec-calendar-topsec {
          .mec-calendar-side {
            padding: 0;
            .mec-calendar-header {
              margin: 0 0;
              padding-bottom: calc(60 * var(--screen-w));
              h2 {
                @include headings($h5size, $almost-black);
              }
            }
            .mec-next-month,
            .mec-previous-month {
              top: unset;
              bottom: calc(10 * var(--screen-w));
            }
            .mec-previous-month {
              left: 0;
            }
            .mec-next-month {
              right: 0;
            }
          }
        }
        .mec-event-footer {
          display: none;
        }
      }
    }

    // hide footer calendar on calendar archive page (styling collisions)
    .site-footer {
      .footer-components {
        .calendar-title,
        .footer-cal {
          display: none;
        }
        .contact-us {
          .copy {
            border-bottom: none;
          }
        }
      }
    }
  } // END body.post-type-archive-mec-events, body.tax-mec_category.archive
} // END mobile only media query
