@import "./config";
@import "./mixins";
@import "./elements";
@import "./modules";
section {
  padding: unset;
}
.editor-styles-wrapper {
  .wp-block-alodge-alternating-section {
    .actions {
      .block-editor-block-list__layout {
        display: flex;
        & > div {
          margin-right: 0.5em;
        }
      }
    }
    h1 {
      @include likeh1;
      margin-top: 0;
      margin-bottom: 0;
      line-height: 0.71;
    }
    h3 {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .wp-block-alodge-vans-row {
    .carousel-gallery {
      display: flex;
      flex-wrap: wrap;
      img {
        width: 20%;
        height: 5rem;
        object-fit: cover;
        margin: 0.5rem;
        padding: 0.5rem;
        border: 1px solid var(--almost-black);
      }
    }
  }
}
